<html lang="en">
<head>
    <meta ticker="ColorMask" opt="mint" hashseed="{{.HSeed}}">
    <style>
        body {margin: 0;background: #000;overflow: hidden;}
        canvas {bottom: 0;height: 100vw;left: 0;margin: auto;max-height: 100vh;max-width: 100vh;position: absolute;right: 0;top: 0;width: 100vw;}
    </style>

    <script type="module">

        import * as fcompress from '/content/86713dc4a459cedb94cdc2ad64b29819d146f1146dfa45ea24948a89c86cf8c4i0';

        async function getBaseFile() {
            const baser = await fetch('/content/c116f440066792e41ff2832f556ec54e3558f521953a3f3db9dbd6196ec3c52fi0');
            const bases = await baser.text();
            const base = fcompress.strFromU8(fcompress.gunzipSync(new Uint8Array(Array.from(atob(bases)).map((char) => char.charCodeAt(0)))));
            eval(base);
        }

        getBaseFile();
    </script>

    <script type="text/javascript" src="/content/            ">
    </script>

</head>

<body>
<canvas id="canvas"></canvas>

<script type="text/javascript">

    function setup() {
        createCanvas(1200, 1200);
        rectMode(CENTER);
        initData('{{.HSeed}}');
    }

    function draw() {
        renderMain();
    }

</script>
</body>
</html>