<html lang="en">
<head>
    <meta ticker="DanceOfStructures" opt="mint" hashseed="{{.HSeed}}">
    <style>
        body {
            margin: 0;
            background: #000;
            overflow: hidden;
        }

        canvas {
            bottom: 0;
            height: 100vw;
            left: 0;
            margin: auto;
            max-height: 100vh;
            max-width: 100vh;
            position: absolute;
            right: 0;
            top: 0;
            width: 100vw;
        }
    </style>
    <script type="module">
        import *as fcompress from '/content/314aae19120b30858cdb028e5827bf22418232dfda6ec6b56c06e9fee736b4cbi0';

        async function getBaseFile() {
            const baser = await fetch('/content/552d6fc455e02f29638d80e88b1994087b433812a7f0f2df50598d067182e0e8i0');
            const bases = await baser.text();
            const base = fcompress.strFromU8(fcompress.gunzipSync(new Uint8Array(Array.from(atob(bases)).map((char) => char.charCodeAt(0)))));
            eval(base);
        }

        getBaseFile();
    </script>
    <script type="text/javascript"
            src="/content/6e74fd3d958dab95dfbd2f15f507bcf7199508e503002e02bf1b1655c6701ea1i0"></script>
</head>
<body>
<canvas id="canvas"></canvas>
<script type="text/javascript">
    function setup() {
        createCanvas(1000, 1000);
        initData('{{.HSeed}}');
    }

    function draw() {
        renderMain();
    }
</script>
</body>
</html>